@charset "UTF-8";

.sling {
	position: relative;
	left: 5px;
	height: 300px;
	width: 10px;
	margin: 0 auto;
	border-left: 1px solid #aaa;
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.07), inset -1px 0 5px rgba(0, 0, 0, 0.07);
}